<div class="mlbody">
  <p>Press clear, then draw a digit into the box, and press send</p>
    <div id="drawing">
        <div *ngFor="let row of cells let i_r=index;" class="row" draggable="false">
            <span *ngFor="let cell of row let i_c=index"
                draggable="false"
                [ngClass]="'cell ' + (i_r +'-' +i_c)"
                [style.background-color]="getColor(cell)"
                (mouseover)="onCellMouseOver($event)"></span>
        </div>
    </div>
    <button (click)="onSend()">Send</button>
    <button (click)="onClear()">Clear</button>
    <div>{{result}}</div>
</div>