<div class="p2t-all-content">
    <div class="p2t-header">{{post.title}}</div>
    <h4></h4>
    <div class="p2t-date">{{post.date}}</div>
    <div class="p2t-blog-content">
        <p>This post has a potentially misleading title, it has nothing 
            to do with the company Meta, but instead is all about what went
            into building this website (johnbuscher.com).</p>

        <p>This website is currently being built, but two major topics I'm to cover are:</p>
        <p>Angular + Node architecture</p>
        <p>Integrating old non-angular componenet projects</p>
    </div>
</div>

