<!-- <!DOCTYPE html>
<html>
<head>
  <title>Chaos Game</title>
  <script type="text/javascript" src="main.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body> -->
  <div class="chaos-app">
      <script src="chaos-bundle.js"></script>
    <div class="App-header">
      <img src="assets/chaos/logo2.png" class="App-logo" alt="logo" />
      <h2>The Chaos Game</h2>
    </div>
    <div class="game">
      <button id="go">Go</button>
      <button id="clear">Clear</button>
      <button id="skip">Draw 10,000 points</button>
      <select id="polygons">
        <option value="3">Triangle</option>
        <option value="4" selected="true">Square</option>
        <option value="5">Pentagon</option>
        <option value="6">Hexagon</option>
        <option value="7">Heptagon</option>
        <option value="8">Octogon</option>
        <option value="9">Nonagon</option>
        <option value="10">Decagon</option>
      </select>
      <select id="rules">
        <option value="1" selected = true>Rule1</option>
        <option value="2">Rule2</option>
        <option value="3">Rule3</option>
        <option value="4">Rule4</option>
        <option value="5">Rule5</option>
      </select>
      <select id="sizes">
        <option value="300">Small Canvas</option>
        <option value="500" selected = true>Medium Canvas</option>
        <option value="1000">Large Canvas</option>
        <option value="1500">Very Large Canvas</option>
      </select>
      <div class="App-intro">
        <div id="canvasWrapper">
            <canvas id="mainBoard" width="500" height="500"></canvas>
        </div>
      </div>
    </div>
  </div>
<!-- </body>
</html> -->