<div class="p2t-all-content">
    <div class="p2t-header">{{post.title}}</div>
    <div class="p2t-tags">
        <button *ngFor="let tag of post.tags" 
             class="post-tag"
             [ngClass]="getTagClass(tag)" 
             (click)="onTagClick(tag, this.router)">{{tag}}</button>
    </div>
    <div class="p2t-date">{{format(post.date)}}</div>
    <div class="p2t-blog-content">
        <div>
            <svg width=700 height=200 id="chart"></svg>
        </div>
        <div class="search-holder"> 
            <input type="text" class="search"
            placeholder="Search for players"
            (keyup)="filterItem($event)"
            (focus)="focusChange(true)">
            <button *ngIf="isSearchFocus" (click)="focusChange(false)">x</button>
        </div>
        <div class="search-results" *ngIf="isSearchFocus">
            <button *ngFor="let player of filteredPlayers" 
                (click)="onPlayerClick(player)">
                {{player.name}}
            </button>
        </div>
        <div>
            <div>{{currentPlayerData.name}}</div>
            <img class="loading" *ngIf="isLoading" src="assets/loading.gif">
            <table *ngIf="!isLoading && currentPlayerData.name != ''">
                <tr>
                    <th>Days Rest</th>
                    <th>Points</th>
                    <th>Delta from season avg</th>
                    <th>GP</th>
                  </tr>
                <tr>
                    <td>0</td>
                    <td>{{currentPlayerData.ptsRest[0]}}</td>
                    <td [ngClass]="{'red': isRed(currentPlayerData.ptsRest[0])}">
                        {{round(currentPlayerData.ptsRest[0] - currentPlayerData.ptsSeason)}}
                    </td>
                    <td>{{currentPlayerData.gpRest[0]}}</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{currentPlayerData.ptsRest[1]}}</td>
                    <td [ngClass]="{'red': isRed(currentPlayerData.ptsRest[1])}">
                        {{round(currentPlayerData.ptsRest[1] - currentPlayerData.ptsSeason)}}
                    </td>
                    <td>{{currentPlayerData.gpRest[1]}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{currentPlayerData.ptsRest[2]}}</td>
                    <td [ngClass]="{'red': isRed(currentPlayerData.ptsRest[2])}">
                        {{round(currentPlayerData.ptsRest[2] - currentPlayerData.ptsSeason)}}
                    </td>
                    <td>{{currentPlayerData.gpRest[2]}}</td>
                </tr>
                <tr>
                    <td>3+</td>
                    <td>{{round(currentPlayerData.ptsRest[3])}}</td>
                    <td [ngClass]="{'red': isRed(currentPlayerData.ptsRest[3])}">
                        {{round(currentPlayerData.ptsRest[3] - currentPlayerData.ptsSeason)}}
                    </td>
                    <td>{{currentPlayerData.gpRest[3]}}</td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</div>