<div class="p2t-all-content">
    <div class="p2t-header">{{post.title}}</div>
    <h4></h4>
    <div class="p2t-date">{{post.date}}</div>
    <div class="p2t-blog-content">
        <p>Before reading, I recommend checking out the app project itself,
            linked frpm the projects page. You can play around with the different
            settings, and see the fractals being built iteratively. I learned about
            this method from reading the book <a href="https://en.wikipedia.org/wiki/Chaos:_Making_a_New_Science">Chaos by James Gleick</a>.
        </p>
    </div>
</div>

