<div class="p2t-all-content">
    <div class="p2t-header">{{post.title}}</div>
    <div class="p2t-tags">
        <button *ngFor="let tag of post.tags" 
             class="post-tag"
             [ngClass]="getTagClass(tag)" 
             (click)="onTagClick(tag, this.router)">{{tag}}</button>
    </div>
    <div class="p2t-date">{{format(post.date)}}</div>
    <div class="p2t-blog-content">
         <p><a href="/ml"> Project demo </a></p>
        <p>
            I've spent a bit of time this year making sure I don't fall to far behind on this machine learning train.
            Unfortuntely, I'm so far removed from my initial lessons in college, it means I'm starting pretty much.
            from scratch.
            <a href="https://www.3blue1brown.com/lessons/neural-networks">This lesson</a> by 3Blue1Brown
            inspired me to try my hand at the basic "hello, world" project of neural networks. Handwriting
            recognition. 
            </p>
         <p>
            A weekend of work later, I managed to build a basic model with ~90% accuracy on the training data.
            The accuracy seems to be a little worse testing it with friends, but that's to be expected due to
            the differences from the training set and my janky UI for handwriting in the demo project.
        </p>
        <p>
            I'll try my best in these following sections to walk you through my approach in learning
            these basic ML topics, how I built this model, and how I hooked it up to the web app for a
            demo.
        </p>
    <h2>Building a neural net equation</h2>
    <h2>Creating a Cost function</h2>
    <h2>What is a Gradient Descent?</h2>
    <h2>Coding it all up</h2>
    <h2>Connecting the webapp</h2>

</div>