<mat-toolbar class="my-custom-theme" color="primary">
  <a mat-flat-button color="primary" routerLink="/posts" class="jb-icon">JB</a>
  <a mat-flat-button type="button" color="primary" routerLink="/posts" routerLinkActive="active-nav">Posts</a>
  <a mat-flat-button type="button" color="primary" routerLink="/projects" routerLinkActive="active-nav">Projects</a>
  <a mat-flat-button type="button" color="primary" routerLink="/about" routerLinkActive="active-nav">About me</a>

</mat-toolbar>
<router-outlet></router-outlet>