.active-nav {
    background: rgba(0,0,0,.2);
}

.jb-icon {
    font-weight: 200;
    letter-spacing: -6px;
    font-size: 28px;
    padding-left: 4px;
    text-shadow: rgb(41, 41, 41) 1px 1px;
    color: black;
    font-family: "Source Code Pro", monospace;
}
.jb-icon:hover {
    transform: scale(1.1);
}