<div class="content">
    <h2>About Me</h2>
    <p>
        Hey! I'm John. Welcome to the website. I'm a software engineer and as I work on side projects,
        I like to write about them and host any demos here. Take a look around,
        and please feel free to reach out via LinkedIn if you have any questions!
    </p>
    <div class="bio">
        <img class="me" src="assets/me.png">
        <div class="bullets">
            <div>
                <a href="https://developers.google.com/assistant/app"><img class="icon" src="assets/google.png"/></a><p>I work on the cross section of Android and Assistant.</p>
            </div>
            <div>
                <a href="https://www.cs.washington.edu/">
                    <img class="icon" src="assets/uw.png"/>
                </a>
                <p>I studied computer engineering at UW, Go Huskies!</p>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/john-buscher">
                    <img class="icon" src="assets/linkedin.png"/>
                </a>
                <p>Check out my LinkedIn.</p>
            </div>
            <div>
                <a href="https://github.com/jbuscher">
                    <img class="icon" src="assets/github.png"/>
                </a>
                <p>Check out my project's source code on Github.</p>
            </div>
        </div>
    </div>
    <h2>Resume</h2>
    <iframe 
        src="https://docs.google.com/document/d/e/2PACX-1vQ7-tlXxBLcNVpVrModlJ1DgJRdu0RKP0hMyYOh5oPgGJdA9jAvrSk0OQCZHwgjKRaPLSeJmOF31o7K/pub?embedded=true"
        class="resume">
    </iframe>
</div>